/* Start Variables */
:root {
    --main-color: #D389A4;
    --second-color: rgb(239, 232, 235);
    --transparent-color: rgb( 213 147 172 / 50%);
    --section-padding: 100px;
    --p-color: #79515f;
    --section-main-color: #2a1b20;
    --section-trans-color: rgb(78 51 61 / 50%);
}
/* End Variables */
/* Start Componants */
button, input, optgroup, select, textarea {
    font-family: inherit;
    font-size: 100%;
    line-height: 1.15;
}
.main-heading {
    text-align: center;
}
.main-heading h2 {
    font-weight: normal;
    font-size: 40px;
    position: relative;
    margin-bottom: 70px;
    text-transform: uppercase;
    color: var(--section-main-color);
}
.main-heading h2::before {
    content: "";
    position: absolute;
    width: 120px;
    height: 2px;
    background-color: var(--section-main-color);
    bottom: -30px;
    left: 50%;
    transform: translateX(-50%);
}
.main-heading h2::after {
    content: "";
    position: absolute;
    width: 14px;
    height: 14px;
    background-color: var(--second-color);
    border-radius: 50%;
    border: var(--section-main-color) 2px solid;
    bottom: -37px;
    left: 50%;
    transform: translateX(-50%);
}
.main-heading p {
    width: 550px;
    max-width: 100%;
    margin: 0px auto 100px;
    line-height: 2;
    color: var(--p-color);
}
/* End Componants */
/* Start Global Rules */
* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}
html {
    scroll-behavior: smooth;
}
body {
    font-family: "Open Sans", sans-serif;
}
.container {
    padding: 0px 15px;
    margin-left: auto;
    margin-right: auto;
}
ul {
    list-style: none;
}
.container {
    padding-left: 15px;
    padding-right: 15px;
    margin-left: auto;
    margin-right: auto;
}
/* Small */
@media (min-width: 768px) {
    .container {
      width: 750px;
    }
}
/* Medium */
@media (min-width: 992px) {
    .container {
      width: 970px;
    }
}
/* Large */
@media (min-width: 1200px) {
    .container {
      width: 1170px;
    }
}
/* End Global Rules */
/* Start Header */
header {
   width: 100%;
   height: 97px;
   position: absolute;
   z-index: 2;
}
header .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
    min-height: 97px;
}
header .container::before {
    content: "";
    position: absolute;
    width: 100%;
    height: 1px;
    background-color: var(--second-color);
    bottom: 0px;

}
header .container .logo img {
    /* color: var(--main-color);
    font-size: 25px; */
    width: 30px;
}
header nav {
    display: flex;
    flex: 1;
    justify-content: flex-end;
    align-items: center;
}
header nav .toggle-menu {
    color: var(--second-color);
    font-size: 25px;
}
@media (min-width: 767px) {
    header nav .toggle-menu {
      display: none;
    }
}
header nav ul {
    display: flex;
}
@media (max-width: 767px) {
    header nav ul {
        display: none;
    }
    header nav ul li a {
        padding: 15px !important;
    }
    header nav .toggle-menu:hover + ul {
        display: flex;
        flex-direction: column;
        background-color: rgb(0 0 0 / 50%);
        position: absolute;
        width: 100%;
        left: 0px;
        top: 100%;
    }
}
header nav ul li a {
    padding: 40px 10px;
    display: block;
    text-decoration: none;
    color: var(--second-color);
    font-size: 14px;
    transition: 0.3s;
    position: relative;
    z-index: 2;
  }
  header nav ul li:first-child a,
  header nav ul li a:hover {
    color: var(--main-color);
    border-bottom: 1px solid var(--main-color);
}
header nav .search {
    width: 40px;
    height: 30px;
    border-left: var(--second-color) 1px solid;
    position: relative;
    margin-left: 30px;
}
header nav .search i {
    color: var(--second-color);
    position: absolute;
    font-size: 20px;
    top: 50%;
    transform: translateY(-50%);
    right: 0;
}
/* End Header */
/* Start Landing */
.landing {
    min-height: 100vh;
    background-color: var(--transparent-color);
    background-image: url(picss/landing.jpg);
    background-size: cover;
    position: relative;
}
.landing .overlay {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgb(0 0 0 / 50%);
}
.landing .text {
    padding: 50px;
    width: 50%;
    position: absolute;
    background-color: var(--transparent-color);
    color: var(--second-color);
    top: 50%;
    transform: translateY(-50%);
    left: 0px;
    display: flex;
    justify-content: flex-end;
}
.landing .text h2 {
    margin-bottom: 20px;
    font-weight: normal;
    font-size: 32px;
    line-height: 1.5;
}
.landing .text p {
    line-height: 2;
    font-size: 14px;
}
.landing .text .content {
    max-width: 500px;
}
@media (max-width: 767px) {
    .landing .text {
      width: 100%;
    }
    .landing .text .content {
      max-width: 100%;
    }
}
.landing i:first-of-type {
    color: var(--second-color);
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    left: 15px;
    font-size: 25px;
}
.landing i:nth-of-type(2) {
    color: var(--second-color);
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    right: 15px;
    font-size: 25px;
}
@media (max-width: 767px) {
    .landing i {
        display: none;
    }
}
.landing ul {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    bottom: 30px;
    display: flex;
}
.landing ul li {
    width: 20px;
    height: 20px;
    border-radius: 50%;
    border: var(--second-color) 1px solid;
    margin-right: 10px;
}
.landing ul li.active {
    background-color: var(--main-color);
    border-color: var(--main-color);
}
/* End Landing */
/* Start Services */
.services {
    padding-top: var(--section-padding);
    padding-bottom: var(--section-padding);
    background-color: var(--second-color);
}
.services-content .srv i {
    color: var(--section-main-color);
    margin-right: 50px;
}
.services-content .srv {
    display: flex;
}
@media (min-width: 768px) {
    .services-content {
        display: grid;
        grid-template-columns:  repeat(auto-fill , minmax(450px , 1fr));
        grid-gap: 60px 40px;
    }
}
@media (max-width: 767px) {
    .services-content .srv i {
        margin: 0 0 30px;
    }
    .services-content .srv {
        display: flex;
        flex-direction: column;
        text-align: center;
        margin-bottom: 40px;
    }
}
.services-content .srv .text h3 {
    color: var(--main-color);
    margin-bottom: 30px;
} 
.services-content .srv .text p {
    color: var(--p-color);
    line-height: 2;
}
/* End Services */
/* Start Design */
.design {
    padding-top: var(--section-padding);
    padding-bottom: var(--section-padding);
    background-image: url(picss/023e4e890623383f5be1dbee29faaeb7.png);
    background-size: cover;
    height: 600px;
    position: relative;
    /* display: flex;
    align-items: center; */
}
.design::before {
    content: "";
    position: absolute;
    top: 0px;
    left: 0px;
    background-color: var(--section-trans-color);
    width: 100%;
    height: 100%;
}
.design .text {
    padding: 50px;
    /* position: relative;
    z-index: 2;
    flex: 1; */
    width: 50%;
    position: absolute;
    top: 50%;
    right: 0px;
    transform: translateY(-50%);
    background-color: var(--transparent-color);
    color: var(--second-color);
}
@media (max-width: 767px) {
    .design {
        display: flex;
        align-items: center;
    }
    .design .text {
        width: 100%;
    }    
}
.design .text h2 {
    margin-bottom: 40px;
    text-transform: uppercase;
    font-weight: normal;
}
.design .text ul {
    text-transform: capitalize;
}
.design .text ul li {
    padding: 15px 0;
    font-size: 16px;
}
/* End Design */
/* Start Portfolio */
.portfolio {
    padding-top: var(--section-padding);
    padding-bottom: var(--section-padding);
    background-color: var(--second-color);
}
.portfolio .container ul {
    display: flex;
    justify-content: center;
}
.portfolio .container ul li {
    padding: 10px;
    color: var(--section-main-color);
}
.portfolio .container ul li.active {
    background-color: var(--main-color);
    color: var(--second-color);
}
.portfolio .imgs-container {
    margin-top: 60px;
    display: flex;
    flex-wrap: wrap;
}
.portfolio .imgs-container .box {
    overflow: hidden;
    position: relative;
}
@media (min-width: 768px) {
    .portfolio .imgs-container .box {
      flex-basis: 50%;
    }
}
@media (min-width: 1199px) {
    .portfolio .imgs-container .box {
      flex-basis: 25%;
    }
}
.portfolio .imgs-container .box img {
    max-width: 100%;
    transition: 0.3s;
}
.portfolio .imgs-container .box .caption {
    background-color: var(--second-color);
    padding: 20px;
    position: absolute;
    width: 100%;
    left: 0px;
    bottom: -100%;
    transition: 0.3s;
}
.portfolio .imgs-container .box:hover .caption {
    bottom: 0;
}
.portfolio .imgs-container .box:hover img {
    transform: rotate(3deg) scale(1.1);
}
.portfolio .imgs-container .box .caption h4 {
    color: var(--section-main-color);
    font-weight: normal;
    margin-bottom: 10px;
}
.portfolio .imgs-container .box .caption p {
    color: var(--main-color);
}
.portfolio .more {
    text-decoration: none;
    padding: 15px 20px;
    background-color: var(--main-color);
    color: var(--second-color);
    text-transform: uppercase;
    margin: 30px auto;
    display: block;
    width: fit-content;
}
/* End Protfolio */
/* Start Video */
.video {
    position: relative;
}
.video video {
    width: 100%;
}
.video::before {
    content: "";
    background-color: var(--section-trans-color);
    position: absolute;
    width: 100%;
    height: 100%;
}
.video .text {
    text-align: center;
    padding: 50px;
    width: 100%;
    position: absolute;
    top: 50%;
    left: 0;
    transform: translateY(-50%);
    background-color: var(--transparent-color);
    color: var(--second-color);
}
.video .text h2 {
    text-transform: uppercase;
    margin-bottom: 30px;
    font-size: 24px;
    font-weight: normal;
}
.video .text p {
    text-transform: capitalize;
    margin-bottom: 30px;
    font-size: 16px;
}
.video .text button {
    border: none;
    background-color: var(--main-color);
    text-transform: uppercase;
    padding: 10px 20px;
    color: var(--second-color);
}
/* End Video */
/* Start About */
.about {
    padding-top: var(--section-padding);
    text-align: center;
    overflow: hidden;
    background-color: var(--second-color);
}
.about img {
    position: relative;
    max-width: 100%;
    bottom: -50px;
    margin-top: -50px;
}
@media (max-width: 767px) {
    .about img {
        margin-top: -20px;
        bottom: -20px;
    }
}
/* End About */
/* Start Stats */
.stats {
    background-image: url(../template-2/picss/4d40c99af46a580725453def1d1b415b.png);
    background-size: cover;
    padding-top: var(--section-padding);
    padding-bottom: var(--section-padding);
    position: relative;
    text-align: center;
}
.stats::before {
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: var(--section-trans-color);
    top: 0;
    left: 0;
}
.stats .container {
    display: flex;
    flex-wrap: wrap;
    position: relative;
}
.stats .container .box {
    background-color: var(--transparent-color);
    color: var(--second-color);
    padding: 50px;
}
@media (max-width: 767px) {
    .stats .container .box {
        flex-basis: 100%;
    }
}
@media (min-width: 768px) {
    .stats .container .box {
        flex-basis: 50%;
    }
}
@media (min-width: 992px) {
    .stats .container .box {
        flex-basis: 25%;
    }
}
.stats .container .box i {
    width: 40px;
    height: 40px;
    background-color: rgb(133 93 106);
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 auto 20px;
}
.stats .container .box .num {
    font-size: 50px;
    margin-bottom: 20px;
    font-weight: bold;
}
.stats .container .box p {
    font-size: 14px;
}
/* End Stats */
/* Start Revu */
.revu {
    padding-top: var(--section-padding);
    padding-bottom: var(--section-padding);
    background-color: var(--second-color);
}
.revu .container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
@media (min-width: 768px){
    .revu .container {
        width: 750px;
    }
}
@media (min-width: 992px){
    .revu .container {
        width: 970px;
    }
    .revu .container > div {
        flex-basis: 45%;
    }
}
.revu .container > div > h3 {
    margin: 0 0 30px;
    text-align: center;
    font-weight: normal;
    text-transform: uppercase;
    color: var(--section-main-color);
}
.revu .container > div > p {
    text-align: center;
    margin: 0 0 60px;
    line-height: 2;
    color: var(--p-color);
}
.revu .container .com .content {
    display: flex;
    align-items: center;
    margin-bottom: 30px;
}
.revu .container .com .content .text {
    line-height: 1.8;
    border-bottom: 1px solid var(--section-main-color);
    color: var(--section-main-color);
}
.revu .container .com .content .text p {
    text-align: right;
    margin-bottom: 10px;
    font-size: 14px;
    color: var(--p-color);
}
.revu .container .com .content img {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    margin-right: 50px;
}
.revu .container .com ul {
    display: flex;
    justify-content: center;
    margin: 50px 0;
}
.revu .container .com ul li {
    width: 14px;
    height: 14px;
    border-radius: 50%;
    border: 1px solid var(--p-color);
    margin-right: 10px;
}
.revu .container .com ul li.active {
    background-color: var(--main-color);
    border-color: var(--main-color);
}
@media (max-width: 767px) {
    .revu .container .com .content {
        flex-direction: column;
        text-align: center;
    }
    .revu .container .com .content img {
        margin: 0 auto 20px;
    }
}
.revu .container .perc .prog-holder h4 {
    font-weight: normal;
    color: var(--section-main-color);
    margin-bottom: 15px;
    text-transform: uppercase;
}
.revu .container .perc .prog-holder {
    margin-bottom: 40px;
}
.revu .container .perc .prog-holder .prog {
    background-color: #FFFF;
    height: 30px;
    position: relative;
}
.revu .container .perc .prog-holder .prog span {
    display: block;
    height: 100%;
    background-color: var(--main-color);
    position: relative;
}
.revu .container .prog-holder .prog span::before {
    content: attr(data-progress);
    width: 40px;
    background-color: var(--p-color);
    color: var(--second-color);
    position: absolute;
    right: -18px;
    top: -40px;
    border-radius: 4px;
    padding: 4px 0;
    text-align: center;    
} 
.revu .container .prog-holder .prog span::after {
    content: "";
    border: 8px solid;
    border-color: var(--p-color) transparent transparent transparent;
    position: absolute;
    top: -15px;
    right: -8px;
}
/* End Revu */
/* Start Quote */
.quote {
    padding-top: var(--section-padding);
    padding-bottom: var(--section-padding);
    background-image: url(../template-2/picss/023e4e890623383f5be1dbee29faaeb7.png);
    background-size: cover;
    position: relative;
    text-align: center;
}
.quote::before {
    content: "";
    background-color: var(--section-trans-color);
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
}
.quote .container {
    position: relative; 
    color: var(--second-color);
}
.quote .container q {
    font-size: 30px;
    margin-bottom: 20px;
    display: block;
}
/* End Quote */
/* Start Pricing */
.pricing {
    padding-top: var(--section-padding);
    padding-bottom: var(--section-padding);
    background-color: var(--second-color);
    color: var(--section-main-color);
}
.pricing .plans {
    display: grid;
    grid-template-columns: repeat(auto-fill , minmax( 250px , 1fr));
    grid-gap: 30px;
}
.pricing .plans .plan {
    text-align: center;
    background-color:rgb(216 201 207 / 45%);
}
.pricing .plans .plan .head {
    padding: 40px 20px;
    border-top: 1px solid var(--main-color);
    border-bottom: 1px solid var(--main-color);
}
.pricing .plans .plan .head h3 {
    font-weight: normal;
    margin-bottom: 20px;
    text-transform: uppercase;
}
.pricing .plans .plan .head span {
    font-size: 60px;
    font-weight: bold;
}
.pricing .plans .plan .head span::before {
    content: "$";
    font-size: 25px;
    position: relative;
    top: -40px;
    margin-right: 15px;
    font-weight: normal;
}
.pricing .plans .plan .head span::after {
    content: "/Sale";
    font-size: 15px;
    position: relative;
    right: -15px;
}
.pricing .plans .plan ul {
    border-bottom: 1px solid var(--main-color);
}
.pricing .plans .plan ul li {
    padding: 20px;
    position: relative;
}
.pricing .plans .plan ul li:not(:last-child):after {
    content: "";
    background-color: var(--main-color);
    width: 140px;
    height: 1px;
    position: absolute;
    bottom: 0px;
    left: 50%;
    transform: translateX(-50%);

}
.pricing .plans .plan .foot a {
    text-decoration: none;
    display: block;
    width: fit-content;
    border: 1px solid var(--main-color);
    margin: 30px auto;
    padding: 20px;
    color: var(--section-main-color);
}
.pricing .contact-text {
    margin: 50px auto 20px;
    font-size: 20px;
    text-align: center;
}
.pricing .container .contact-link {
    display: block;
    background-color: var(--main-color);
    color: var(--second-color);
    padding: 15px 30px;
    text-decoration: none;
    width: fit-content;
    margin: 20px auto;
}
/* End Pricing */
/* Start Subscribe */
.sub {
    background-image: url(../template-2/picss/4d40c99af46a580725453def1d1b415b.png);
    background-size: cover;
    padding-top: var(--section-padding);
    padding-bottom: var(--section-padding);
    position: relative;
    color:var(--second-color);
}
.sub::before {
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: var(--section-trans-color);
    top: 0;
    left: 0;
}
.sub .container {
    position: relative;
    display: flex;
    align-items: center;
}
@media (max-width: 991px){
    .sub .container {
        flex-direction: column;
    }
}
.sub form {
    display: flex;
    position: relative;
    width: 500px;
    max-width: 100%;
}
.sub form input[type="email"] {
    padding: 20px 20px 20px 60px;
    caret-color: var(--main-color);
    padding: 20px 20px 20px 60px;
    background: none;
    border: 1px solid var(--second-color);
    border-right: none;
    width: calc(100% - 130px);
    outline: none;

}
.sub form ::placeholder {
    color: var(--second-color);
}
.sub form input[type="submit"] {
    padding: 10px 20px;
    background-color: var(--main-color);
    border: 1px solid var(--second-color);
    border-left: none;
    width: 130px;
    text-transform: uppercase;
    color:var(--second-color);
    outline: none;
}
.sub form i {
    position: absolute;
    position: absolute;
    top: 50%;
    left: 25px;
    transform: translateY(-50%);
}
.sub p {
    margin-left: 50px;
    line-height: 2;
}
@media (max-width: 991px){
    .sub p {
        margin: 30px 0 0;   
    }
}
/* End Subscribe */
/* Start Contact */
.contact {
    padding-top: var(--section-padding);
    padding-bottom: var(--section-padding);
    background-color: var(--second-color);
}
.contact .content {
    display: flex;
    justify-content: space-between;
}
@media (max-width: 767px) {
    .contact .content {
        flex-direction: column;
    }
}
.contact .content form {
    flex-basis: 70%;
}
.contact .content form .input {
    width: 100%;
    padding: 20px;
    display: block;
    border: 1px solid var(--p-color);
    margin-bottom: 30px;
}
.contact .content form .input:focus {
    outline: none;
}
.contact .content form textarea {
    height: 200px;
}
.contact .content form input[type="submit"] {
    display: flex;
    padding: 20px;
    color: var(--second-color);
    background-color: var(--main-color);
    border: none;
    margin-left: auto;
    text-transform: uppercase;
    cursor: pointer;
}
.contact .content .info {
    flex-basis: 25%;
}
.contact .content .info h4 {
    font-weight: 500;
    margin-bottom: 30px;
    text-transform: uppercase;
    font-size: 18px;
    color: var(--section-main-color);
}
.contact .content .info h4:nth-of-type(2) {
    margin-top: 90px;
}
.contact .content .info span {
    margin-bottom: 10px;
    color: var(--p-color);
    display: block;
}
.contact .content .info address {
    color: var(--p-color);
    line-height: 2;
}
@media (max-width: 767px) {
    .contact .content .info {
        text-align: center;
        order: -1;
    }
    .contact .content .info address {
        margin-bottom: 40px;
    }
    .contact .content .info h4:nth-of-type(2) {
        margin-top: 30px;
    }
}
/* End Contact */
/* Start Footer */
.footer {
    padding-top: calc(var(--section-padding)/2);
    padding-bottom: calc(var(--section-padding)/2);
    background-image: url(../template-2/picss/4d40c99af46a580725453def1d1b415b.png);
    background-size: cover;
    position: relative;
    text-align: center;
    color: var(--second-color);
}
.footer::before {
    content: "";
    position: absolute;
    background-color: var(--section-trans-color);
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
}
.footer .container {
    position: relative;
}
.footer .logo {
    width: 50px;
    margin-bottom: 20px;
}
.footer p:first-of-type {
    text-transform: uppercase;
    font-size: 22px;
    border-bottom: 1px solid var(--second-color);
    margin: 20px auto;
    padding: 20px;
    width: fit-content;
}
.footer .icons i {
    padding: 10px 15px;
}
.footer p:last-of-type {
    margin-top: 60px;
} 
.footer p:last-of-type span {
    color: var(--main-color);
    font-weight: bolder;
}
/* End Footer */
